
.header{
    
    display: flex;
    padding:7% 5%;
    align-items: center;
    overflow: hidden;

}

.divAstroboy{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;

}

.astroboyDab{
    z-index: 4;
    position: absolute;
    width: 7%;
    left: 50%;
    top: 15%;
   
   animation:rotateAstroboy 30s linear infinite;

}

@keyframes rotateAstroboy {
    0% {
        z-index: 4;
        width: 7%;
        transform: translate(800%,-5%);
    }
    50% {
        z-index: 4;
        width: 7%;
        transform:  translate(-1500%,500%) rotate(1620deg);
    }
    51%{
        z-index: 1;
        width: 2%;
        transform:  translate(-2800%,500%) rotate(1620deg);
    } 
    100%{
        z-index: 1;
        width: 2%;
        transform: translate(2800%,1000%) rotate(3240deg);
    }
}




.presentation{
  
    z-index: 2;
    width: 90%;
    margin: 30px 5%;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
  }
  
.stackContent{
    display: flex;
    align-items: center;
  }
  

  .stackCard img{
    height: 60px;
    width: auto;
  }
  
  .presentation h1{
    margin-top: 0;
    font-size: 40px;
  }

  .presentation p{
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .stackIcons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

.solarSystem{
    z-index: 3;
    display: flex;
position: relative;
width: 100%;
/* height: 100vh; */
justify-content: center;
align-items: center;
}

.sun, .merDiv, .venDiv, .earDiv, .marDiv, .jupDiv, .satDiv, .uraDiv, .nepDiv, .pluDiv{
    position: absolute;

}

.sun{
    z-index: 1;
      transform: translateY(0px);
      animation: rotatePlanet 10s linear infinite;
      box-shadow: 0 0 7px rgb(247, 247, 137);
      border-radius: 60%;
  }


.merDiv{
    height: 75px;
    transform-origin: bottom;
    transform: translateY(-35px);
    animation: rotateMer 60s linear infinite;
    
}
.ombreMer{
    z-index: 2;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.95) 30%,rgba(0, 0, 0, 0));
    border-radius: 50%;
    width: 100%;
    height: 15px;
}

.mercury{
    z-index: 1;
      transform: translateY(0px);
      animation: rotatePlanet 1s linear infinite;
  }


@keyframes rotateMer {
    from {
        transform: translateY(-37.5px) rotate(0deg);
    }
    to {
        transform:  translateY(-37.5px) rotate(3240deg);
    }
}

.venDiv{
    height: 105px;
    transform-origin: bottom;
    transform: translateY(-45px);
    animation: rotateVen 60s linear infinite;
}



.ombreVen{
    z-index: 2;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.95) 30%,rgba(0, 0, 0, 0));
    border-radius: 50%;
    width: 100%;
    height: 17px;
}

.venus{
    z-index: 1;
      transform: translateY(0px);
      animation: rotatePlanet 2s linear infinite;
  }


@keyframes rotateVen {
    from {
        transform: translateY(-52.5px) rotate(90deg);
    }
    to {
        transform:  translateY(-52.5px) rotate(2970deg);
    }
}

.earDiv{
    height: 135px;
    transform-origin: bottom;
    animation: rotateEar 60s linear infinite;
}
.ombreEar{
    z-index: 2;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.95) 30%,rgba(0, 0, 0, 0));
    border-radius: 50%;
    width: 100%;
    height: 18px;
}

@keyframes rotateEar {
    from {
        transform: translateY(-67.5px) rotate(-110deg);
    }
    to {
        transform:  translateY(-67.5px) rotate(2410deg);
    }
}

.earth{
    z-index: 1;
      transform: translateY(0px);
      animation: rotatePlanet 7s linear infinite;
  }
  



.marDiv{
    height: 160px;
    transform-origin: bottom;
    animation: rotateMar 60s linear infinite;
}

.ombreMar{
    z-index: 2;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.95) 30%,rgba(0, 0, 0, 0));
    border-radius: 50%;
    width: 100%;
    height: 16px;
}

.mars{
    z-index: 1;
      transform: translateY(0px);
      animation: rotatePlanet 6s linear infinite;
  }

@keyframes rotateMar {
    from {
        transform: translateY(-80px) rotate(-60deg);
    }
    to {
        transform:  translateY(-80px) rotate(2100deg);
    }
}



.jupDiv{
    height: 210px;
    transform-origin: bottom;
    animation: rotateJup 60s linear infinite;
}

.ombreJup{
    z-index: 2;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.95) 35%,rgba(0, 0, 0, 0)90%);
    border-radius: 50%;
    width: 100%;
    height: 38px;
}



@keyframes rotateJup {
    from {
        transform: translateY(-105px) rotate(-190deg);
    }
    to {
        transform:  translateY(-105px) rotate(1610deg);
    }
}

.jupiter{
    z-index: 1;
      transform: translateY(0px);
      animation: rotatePlanet 4s linear infinite;
  }
  



.satDiv{
    height: 270px;
    transform-origin: bottom;
    animation: rotateSat 60s linear infinite;
}

.ombreSat{
    z-index: 2;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.95) 30%,rgba(0, 0, 0, 0));
    border-radius: 40% 40% 50% 50% ;
    width: 70%;
    margin: 0 15%;
    height: 40px;
}

.saturn{
    z-index: 1;
      transform: translateY(0px);
      animation: rotatePlanet 5s linear infinite;
  }
@keyframes rotateSat {
    from {
        transform: translateY(-135px) rotate(-20deg);
    }
    to {
        transform:  translateY(-135px) rotate(1420deg);
    }
}

.uraDiv{
    height: 320px;
    transform-origin: bottom;
    animation: rotateUra 60s linear infinite;
}

.ombreUra{
    z-index: 1;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.95) 30%,rgba(0, 0, 0, 0));
    border-radius: 40% 40% 50% 50% ;
    width: 70%;
    margin: 0 15%;
    height: 40px;
}

.uranus{
    z-index: 1;
      transform: translateY(0px);
      animation: rotatePlanet 8s linear infinite;
  }

@keyframes rotateUra {
    from {
        transform: translateY(-160px) rotate(85deg);
    }
    to {
        transform:  translateY(-160px) rotate(1165deg);
    }
}

.nepDiv{
    height: 360px;
    transform-origin: bottom;

    animation: rotateNep 60s linear infinite;
}

.ombreNep{
    z-index: 2;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.95) 30%,rgba(0, 0, 0, 0));
    border-radius: 50%;
    width: 100%;
    height: 28px;
}

.neptun{
    z-index: 1;
      transform: translateY(0px);
      animation: rotatePlanet 10s linear infinite;
  }

@keyframes rotateNep {
    from {
        transform: translateY(-180px) rotate(-100deg);
    }
    to {
        transform:  translateY(-180px) rotate(620deg);
    }
}

.pluDiv{
    height: 390px;
    transform-origin: bottom;
    transform: translateY(-185px);
    animation: rotatePlu 60s linear infinite;
}

.ombrePlu{
    top: 7px;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.95) 30%,rgba(0, 0, 0, 0));
    border-radius: 50%;
    width: 100%;
    height: 10px;
}



@keyframes rotatePlu {
    from {
        transform: translateY(-195px) rotate(40deg);
    }
    to {
        transform:  translateY(-195px) rotate(400deg);
    }
}

@keyframes rotatePlanet {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1000px) {
 
    .presentation h1{
        font-size: 40px;
      }

    .header {
        display: flex;
        flex-direction: column-reverse;
        padding: 350px 5% 10%;
        position: relative;
     
    }

    .solarSystem{
    z-index: 1;
    display: flex;
position: relative;
width: 90%;

justify-content: center;
align-items: center;
top: -120px;
}

.presentation{
    
    z-index: 2;
    width: 100%;
    margin: 0;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stackIcons{
    margin-top: 30px;
  }
}